html, body{
	height: 100%;
	background-color: #F6F6EF;
}

body span:nth-of-type(1){
	color: #FF6600;
	font-weight: bold;
}

input[type="text"], input[type="password"] {
	outline: none;
	background-color: #F6F6EF;
	border: none;
	border-bottom: 1px solid #FF6600;
}

table#login {
	text-align: right;
}